 .navbar{
    background:black;
    color: white;
    border-style: solid;  
    text-align: center; 
    margin-right: auto;  
}

.breadcrumb{
    color: black;
}

.jumbotron{
    padding: 10px;
    text-align: center;
    color: white;
    border-color: white;
    border-style: solid;
    margin-top: 55px;
    background-image: url(/imagenes/Banner-maneat.PNG);
    font-weight: bold;
}

.contenido {
    flex: 300px;
    padding: 10px;
    background-color:lightgray  ;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: white;
}

body{
    background-color: whitesmoke ;
}
table{
    border-style: solid;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:lightgray ;
    margin-bottom: 0px;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
}

address
{
    text-align: center;
}

.card{
    flex: 1 150px;
    /*display: flex;*/
    background-color:lightgray ;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.card-header{
    font-weight: bold;
    font-size: 125%;
}

.card-subtitle{
    color:whitesmoke;

}

.accordion-button{
    background-color:lightgrey ;
    text-align: center;
}

/*
.card-body{
    border-style: solid;
}*/

/*
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    background-color:lightseagreen ;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    text-align: center;
}*/
.btn-reserva{
    width: 100%;
    border-style: solid;
    color:white;
    background-color: grey;
    border-color: black;
}

.footer-address-icon
{
    padding-right: 10px;
}

.grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    text-align: center;
    margin-top: 1rem;
    flex: 1 150px;
}

.tab-content{
padding-top: 5px;
}